@charset "UTF-8";
/**
 * $fileOverview common[css常用实现封装,, 以fis-开头命名]
 * $author y.g.q
 * $date   2014.9.22
 * $mail   yinguoqing$kingsoft.com
 */
/**
 * .fis-clearfix
 * $description 清除浮动(不需要添加额外标签)
 */
/**
 * .fis-float
 * $description 浮动(解决IE6 double margin问题) 
 * $param [$side=left] 浮动方向
 */
/**
 * .fis-float-left
 * $description 左浮动
 */
/**
 * .fis-float-right
 * $description 右浮动
 */
/**
 * .fis-inline-block
 * $description inline-block展示(兼容inline和block元素)
 */
/**
 * .fis-border-radius
 * $description 圆角(support IE9+、Firefox 3.5+、Safari、Chrome、Opera)
 * $param [$radius=5px] 圆角半径
 */
/**
 * .fis-box-shadow
 * $description 阴影(support Firefox 3.5+、Safari、Chrome、Opera)
 * $param $shadow 阴影参数(水平偏移值 | 垂直偏移值 | 阴影模糊值 | 阴影颜色)
 */
/**
 * .fis-gradient-vertical
 * $description 背景垂直渐变(support IE8+、Firefox 3.5+、Safari、Chrome、Opera)
 * $param [$startColor=#555] 颜色渐变初始值
 * $param [$endColor=#333] 颜色渐变终值
 */
/**
 * .fis-transition
 */
/**
 * .fis-opacity
 * $description 透明度(support IE6+、Firefox 3.5+、Safari、Chrome、Opera)
 * $param [$opacity=100] 透明度值
 */
/**
 * .fis-nowrap
 * $description 文本不折行
 */
/**
 * .fis-min-height
 * $description 最小高度
 * $param [$value] 最小高度值
 */
/**
 * .fis-min-width
 * $description 最小宽度
 * $param [$value] 最小宽度值
 */
/**
 * .fis-icon
 * $description 方形icon 
 */
/**
 * .fis-icon-rect
 * $description 长方形icon 
 */
/**
 * .icon-arrow
 * $description 箭头
 */
/**
 * .fis-rotate
 * $description 旋转
 */
/**
 * .fis-rotate-y
 * $description 反转
 */
/**
 * .fis-rotate-x
 * $description 旋转
 */
html {
  width: 100%;
  height: 100%;
  font-size: 50px; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../images/bg.jpg");
  background-size: 100% auto; }

.bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.music-button {
  position: fixed;
  top: 0.25rem;
  right: 0.30rem;
  width: 0.50rem;
  height: 0.50rem;
  background: url("../images/music.png") no-repeat;
  background-size: cover;
  z-index: 100; }

.music-button.on {
  -webkit-animation: rotate 3s linear both infinite;
  -o-animation: rotate 3s linear both infinite;
  animation: rotate 3s linear both infinite; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/loading_bg.jpg");
  background-size: 100% auto;
  z-index: 10; }
  .loading .loading-text {
    display: block;
    position: absolute;
    top: 4.6rem;
    left: 2.71rem;
    width: 1.65rem;
    height: 0.66rem;
    line-height: 0.66rem;
    font-size: 0.42rem;
    font-weight: bold;
    color: #000000;
    text-align: center; }
  .loading .loading01 {
    position: absolute;
    top: 6.36rem;
    left: 2.65rem;
    width: 0.49rem;
    height: 0.46rem;
    background-image: url("../images/loading01.png");
    background-size: cover;
    animation: rotate 1s linear both infinite; }
  .loading .loading02 {
    position: absolute;
    top: 6.37rem;
    left: 4.42rem;
    width: 0.45rem;
    height: 0.45rem;
    background-image: url("../images/loading02.png");
    background-size: cover;
    animation: rotate 1s linear both infinite; }

.part {
  position: relative;
  width: 100%;
  height: 100%; }

.part01 {
  display: none; }
  .part01 .select {
    position: absolute;
    left: 0.3rem;
    width: 6.9rem;
    height: 1.69rem;
    background-size: cover;
    border-radius: 0.34rem;
    -o-border-radius: 0.34rem;
    -ms-border-radius: 0.34rem;
    -moz-border-radius: 0.34rem;
    -webkit-border-radius: 0.34rem; }
    .part01 .select:nth-child(2) {
      top: 4.19rem;
      background-image: url("../images/part01_select_bg01.jpg"); }
      .part01 .select:nth-child(2).on {
        background-image: url("../images/part01_select_bg01_on.jpg"); }
    .part01 .select:nth-child(3) {
      top: 6.21rem;
      background-image: url("../images/part01_select_bg02.jpg"); }
      .part01 .select:nth-child(3).on {
        background-image: url("../images/part01_select_bg02_on.jpg"); }
    .part01 .select:nth-child(4) {
      top: 8.21rem;
      background-image: url("../images/part01_select_bg03.jpg"); }
      .part01 .select:nth-child(4).on {
        background-image: url("../images/part01_select_bg03_on.jpg"); }
    .part01 .select img {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      pointer-events: none; }
  .part01 .button {
    position: absolute;
    top: 10.43rem;
    left: 2rem;
    width: 3.47rem;
    height: 0.83rem; }

.part02 {
  display: none; }
  .part02 .moyin-select-container {
    width: 100%;
    height: 100%; }
    .part02 .moyin-select-container .moyin-select-wrapper {
      height: 100%; }
      .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide {
        position: relative;
        height: 100%;
        background-image: url("../images/bg.jpg");
        background-size: cover; }
        .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(1) .img01 {
          display: block;
          position: absolute;
          top: 0.8rem;
          right: 0;
          width: 7.5rem;
          -webkit-animation: rightSwper 600ms;
          -o-animation: rightSwper 600ms;
          animation: rightSwper 600ms; }
        .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(1) .img02 {
          display: block;
          position: absolute;
          top: 2.93rem;
          left: 0;
          width: 7.5rem;
          -webkit-animation: leftSwper 600ms 600ms both;
          -o-animation: leftSwper 600ms 600ms both;
          animation: leftSwper 600ms 600ms both; }
        .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(1) .arrow {
          position: absolute;
          top: 10.6rem;
          left: 3.16rem;
          width: 1.17rem;
          height: 0.64rem;
          background-image: url("../images/part02_arrow.png");
          background-size: cover;
          -webkit-animation: upDown 800ms both infinite alternate;
          -o-animation: upDown 800ms both infinite alternate;
          animation: upDown 800ms both infinite alternate; }
        .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .moyin-container {
          position: absolute;
          top: 3.35rem;
          width: 100%; }
          .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .moyin-container .moyin-wrapper .moyin-slide .moyin {
            display: block;
            position: relative;
            margin: 0 auto 0.26rem;
            width: 5.43rem;
            height: 3.25rem;
            border-radius: 0.44rem;
            border: 0.05rem solid transparent; }
            .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .moyin-container .moyin-wrapper .moyin-slide .moyin.on {
              border: 0.05rem solid #fde993; }
        .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .arrow {
          position: absolute;
          top: 6.27rem;
          width: 0.42rem;
          height: 0.78rem;
          background-size: cover;
          z-index: 2; }
          .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .arrow.arrow-left {left: 0.25rem;background-repeat: no-repeat;}
          .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .arrow.arrow-right {right: 0.25rem;background-repeat: no-repeat;}
        .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .button {
          position: absolute;
          top: 10.45rem;
          width: 3.23rem;
          height: 0.83rem;
          background-size: cover;
          z-index: 2; }
          .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .button.button-sure {left: 0.3rem;background-repeat: no-repeat;}
          .part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .button.button-me {right: 0.3rem;background-repeat: no-repeat;}
  .part02 .tankuang {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10; }
    .part02 .tankuang .tankuang_button {
      position: absolute;
      top: 9.1rem;
      left: 2.01rem;
      width: 3.47rem;
      height: 0.83rem; }

.part04 {
  display: none; }
  .part04 .img-wrap {
    display: none;
    position: absolute;
    left: 0;
    width: 7.5rem; }
    .part04 .img-wrap.img01-wrap {
      top: 0.9rem;
      -webkit-animation: leftSwper 800ms 200ms both;
      -o-animation: leftSwper 800ms 200ms both;
      animation: leftSwper 800ms 200ms both; }
    .part04 .img-wrap.img02-wrap {
      top: 4.12rem;
      -webkit-animation: rightSwper 800ms 1000ms both;
      -o-animation: rightSwper 800ms 1000ms both;
      animation: rightSwper 800ms 1000ms both; }
    .part04 .img-wrap.img03-wrap {
      top: 7.4rem;
      -webkit-animation: leftSwper 800ms 1800ms both;
      -o-animation: leftSwper 800ms 1800ms both;
      animation: leftSwper 800ms 1800ms both; }
    .part04 .img-wrap .img {
      display: block;
      width: 100%; }
    .part04 .img-wrap .star {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 7.5rem; }
      .part04 .img-wrap .star.star01 {
        -webkit-animation: flash 600ms both infinite alternate;
        -o-animation: flash 600ms both infinite alternate;
        animation: flash 600ms both infinite alternate; }
      .part04 .img-wrap .star.star02 {
        -webkit-animation: flash 600ms 200ms both infinite alternate;
        -o-animation: flash 600ms 200ms both infinite alternate;
        animation: flash 600ms 200ms both infinite alternate; }
      .part04 .img-wrap .star.star03 {
        -webkit-animation: flash 600ms 400ms both infinite alternate;
        -o-animation: flash 600ms 400ms both infinite alternate;
        animation: flash 600ms 400ms both infinite alternate; }
  .part04 .start_button {position: absolute;
    top: 10.42rem;
    left: 1.96rem;
    width: 3.47rem;
    height: 0.83rem;
    
    border-radius: 0.35rem;
    border: 0.05rem solid transparent;background-repeat: no-repeat;}
    .part04 .start_button.on {
      border: 0.05rem solid #fde993; }
  .part04 .text {
    position: absolute;
    top: 11.4rem;
    left: 0;
    width: 7.5rem;
    font-size: 0.22rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff; }

.part05 {
  display: none; }
  .part05 .img {
    display: block;
    position: relative;
    top: 1.4rem;
    margin: 0 auto;
    width: 5.22rem;
    border-radius: 0.34rem;
    -o-border-radius: 0.34rem;
    -ms-border-radius: 0.34rem;
    -moz-border-radius: 0.34rem;
    -webkit-border-radius: 0.34rem; }
  .part05 .button {
    position: absolute;
    background-size: cover; }
    .part05 .button.button-listen {top: 9.34rem;
      left: 0.3rem;
      width: 3.22rem;
      height: 0.83rem;background-repeat: no-repeat;}
    .part05 .button.button-other {top: 9.34rem;
      right: 0.3rem;
      width: 3.22rem;
      height: 0.83rem;background-repeat: no-repeat;}
    .part05 .button.button-make {top: 10.43rem;
      left: 2.01rem;
      width: 3.47rem;
      height: 0.83rem;background-repeat: no-repeat;}

.part06 {
  display: none; }
  .part06 .select {
    position: absolute;
    background-size: cover; }
    .part06 .select.select01 {top: 1.11rem;
      left: 0.37rem;
      width: 3.38rem;
      height: 3.77rem;background-repeat: no-repeat;}
      .part06 .select.select01.on {background-repeat: no-repeat;}
    .part06 .select.select02 {top: 1.11rem;
      right: 0.37rem;
      width: 3.38rem;
      height: 3.77rem;background-repeat: no-repeat;}
      .part06 .select.select02.on {background-repeat: no-repeat;}
    .part06 .select.select03 {top: 5.23rem;
      left: 0.37rem;
      width: 3.38rem;
      height: 4.51rem;background-repeat: no-repeat;}
      .part06 .select.select03.on {background-repeat: no-repeat;}
    .part06 .select.select04 {top: 5.23rem;
      right: 0.37rem;
      width: 3.38rem;
      height: 4.51rem;background-repeat: no-repeat;}
      .part06 .select.select04.on {background-repeat: no-repeat;}
  .part06 .button-up {display: block;
    position: absolute;
    top: 10.43rem;
    left: 2.01rem;
    width: 3.47rem;
    height: 0.83rem;background-repeat: no-repeat;}

.part07 {
  display: none; }
  .part07 .img {
    display: block;
    position: absolute;
    width: 7.5rem;
    left: 0; }
    .part07 .img.img01 {
      top: 0.93rem;
      -webkit-animation: leftSwper 600ms both;
      -o-animation: leftSwper 600ms both;
      animation: leftSwper 600ms both; }
    .part07 .img.img02 {
      top: 4.14rem;
      -webkit-animation: rightSwper 600ms 600ms both;
      -o-animation: rightSwper 600ms 600ms both;
      animation: rightSwper 600ms 600ms both; }
      .part07 .img.img02 .star {
        -webkit-animation: flash 600ms both infinite alternate;
        -o-animation: flash 600ms both infinite alternate;
        animation: flash 600ms both infinite alternate; }
    .part07 .img.img03 {
      top: 7.38rem;
      -webkit-animation: leftSwper 600ms 1200ms both;
      -o-animation: leftSwper 600ms 1200ms both;
      animation: leftSwper 600ms 1200ms both; }
  .part07 .button-share {display: block;
    position: absolute;
    top: 10.43rem;
    left: 2.01rem;
    width: 3.47rem;
    height: 0.83rem;background-repeat: no-repeat;}

.share {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99; }

.shibie {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99; }

.bianyin {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99; }

@-webkit-keyframes rightSwper {
  from {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0); }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes rightSwper {
  from {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0); }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes leftSwper {
  from {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes leftSwper {
  from {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes upDown {
  from {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  to {
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    transform: translate(0, 50%); } }

@keyframes upDown {
  from {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  to {
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    transform: translate(0, 50%); } }

@-webkit-keyframes flash {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes flash {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.part06 .select.select03{background-position:0rem 0rem}.part06 .select.select03.on{background-position:-3.48rem 0rem}.part06 .select.select04{background-position:-6.96rem 0rem}.part06 .select.select04.on{background-position:0rem -4.61rem}.part06 .select.select01.on{background-position:-3.48rem -4.61rem}.part06 .select.select01{background-position:-6.96rem -4.61rem}.part06 .select.select02{background-position:-10.44rem 0rem}.part06 .select.select02.on{background-position:-10.44rem -3.87rem}.part07 .button-share{background-position:0rem -9.22rem}.part06 .button-up{background-position:-3.57rem -9.22rem}.part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .button.button-sure{background-position:-10.44rem -7.74rem}.part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .button.button-me{background-position:-7.14rem -9.22rem}.part04 .start_button{background-position:0rem -10.15rem}.part05 .button.button-listen{background-position:-10.47rem -9.22rem}.part05 .button.button-other{background-position:-3.57rem -10.15rem}.part05 .button.button-make{background-position:-6.89rem -10.15rem}.part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .arrow.arrow-right{background-position:-10.46rem -10.15rem}.part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .arrow.arrow-left{background-position:-10.98rem -10.15rem}.part06 .select.select03,.part06 .select.select03.on,.part06 .select.select04,.part06 .select.select04.on,.part06 .select.select01.on,.part06 .select.select01,.part06 .select.select02,.part06 .select.select02.on,.part07 .button-share,.part06 .button-up,.part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .button.button-sure,.part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .button.button-me,.part04 .start_button,.part05 .button.button-listen,.part05 .button.button-other,.part05 .button.button-make,.part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .arrow.arrow-right,.part02 .moyin-select-container .moyin-select-wrapper .moyin-select-slide:nth-child(2) .arrow.arrow-left{background-size: 13.92rem 10.98rem;background-image: url(../images/index_1_z.png)}